<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>HelloWorld page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>


    #if($headerCheck == "index")
        #parse("/WEB-INF/fragments/index_header.vm")
    #elseif($headerCheck == "intergration")
        #parse("/WEB-INF/fragments/inter_header.vm")
    #end

    $screen_content
    #parse("/WEB-INF/fragments/_footer.vm")
</body>
</html>

