<form class="form-inline" class="col-md-4">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="ID">
    </div>
    <button type="submit" class="btn btn-default">검색</button>
</form>
