<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a>Index</a></li>
                <li class="dropdown">
                    <a href="#" id="dropdownCategoryMenu" data-toggle="dropdown">Category <i class="caret"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCategoryMenu">
                        <li><a href="/category">전체보기</a></li> <li class="divider"></li>
                        <li><a href="/category/1">Test 1</a></li> <li><a href="/category/2">
                        <li><a href="/category/3">Test 3</a></li>
                        <li><a href="/category/4">Test 4</a></li>
                    </ul>
                </li>
                <li><a>만든이</a></li>
            </ul>
        </div>
    </div>
</div>


