

$tilesAlt.startAttributeContext()
$set($templateAttribute = $tilesAlt.createTemplateAttribute("/WEB-INF/views/vm/layouts/layout.vm"))
$set($attributeContext = $tilesAlt.getAttributeContext())


$set($attribute = $tilesAlt.createAttribute())
$attribute.setValue("/WEB-INF/views/vm/templates/header.vm")
$attribute.setRenderer("velocity")
$attributeContext.putAttribute("header", ${attribute})

$set($attribute = $tilesAlt.createAttribute())
$attribute.setValue("/WEB-INF/views/vm/templates/footer.vm")
$attribute.setRenderer("velocity")
$attributeContext.putAttribute("footer", ${attribute})

$tilesAlt.render($templateAttribute)
$tilesAlt.endAttributeContext()